.fruits{
    border: 2px solid red;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: black;
}
.cars{
    border: 3px solid maroon;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: darkgreen;
}
.Fruits{
    border: 3px solid blue;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: gold;
}
#school{
    border: 2px solid rebeccapurple;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: green;

}
.myform{
    border: 4px solid darkcyan;
    text-align: center;
    padding: 30px;
    margin: 15px;
    color: orange;
    font-family: Chandas;
    background-color: aliceblue;
}